@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
    --color-primary: #2563eb;
    --color-secondary: #22c55e;
    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-text: #1f2937;
    --color-muted: #6b7280;
    --color-border-gray: #E5E7EB;
}

* {
    
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
}
